<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <h1>URL Shortener</h2>
    <%= form_with url: "/url", method: :post do |form| %>
      <%= form.label :url, "URL:" %>
      <%= form.text_field :url %>
      <%= form.submit "Create" %>
    <% end %>
  </body>
</html>
