<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <p>URL Shortener</p>
    </div>
    <div class="main">
      <%= yield %>
    </div>
    <div class="footer">
      <p>Created by Jarrod West</p>
      <a href="https://github.com/jarrod-west/url-shortener">Check it out on Github</a>
    </div>
  </body>
</html>
